body {
  font-family: Arial;
}

.task-button {
  color: white;
  border-style: none;
  padding: 8px;
  font-size: 15px;
  cursor: pointer;
}

.add-button {
  background-color: green;
}

.delete-button {
  background-color: darkred;
}

.finish-button {
  background-color: blue;
}

.task-input {
  font-size: 15px;
  padding:  6px;
}

.terminee {
  text-decoration: line-through;
}